In [1]:
import pandas as pd

In [2]:
l = [1,2,39,67,90]
l

[1, 2, 39, 67, 90]

In [5]:
pd.DataFrame(l, columns = ['degisken_ismi'])

   degisken_ismi
0              1
1              2
2             39
3             67
4             90

In [4]:
import numpy as np
m = np.arange(1,10).reshape((3,3))
m

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
pd.DataFrame(m, columns = ['var1','var2','var3'])

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [7]:
df = pd.DataFrame(m, columns = ['var1','var2','var3'])
df.head()

   var1  var2  var3
0     1     2     3
1     4     5     6
2     7     8     9

In [11]:
df.columns = ('degisken1','degisken2','degisken3')

In [12]:
df

   degisken1  degisken2  degisken3
0          1          2          3
1          4          5          6
2          7          8          9

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['degisken1', 'degisken2', 'degisken3'], dtype='object')]

In [15]:
df.shape

(3, 3)

In [16]:
df.ndim

2

In [17]:
df.size

9

In [18]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [19]:
type(df.values)

numpy.ndarray

In [20]:
df.head()

   degisken1  degisken2  degisken3
0          1          2          3
1          4          5          6
2          7          8          9

In [22]:
df.tail(1)

   degisken1  degisken2  degisken3
2          7          8          9

In [24]:
a = np.array([1,2,3,4,5])

In [25]:
pd.DataFrame(a, columns = ['deg1'])

   deg1
0     1
1     2
2     3
3     4
4     5