In [8]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size= (10,3))
df = pd.DataFrame(m, columns = ['var1','var2','var3'])
df

   var1  var2  var3
0     5    16     3
1    12    17    27
2    19    28    21
3     7     3    10
4    16    28    17
5    11    22    14
6     6    28    20
7    10    16     1
8    29     1    25
9     6    19    23

In [9]:
#loc: tanimlandigi sekli ile secim yapmak icin kullanilir

In [11]:
df.loc[0:3]

   var1  var2  var3
0     5    16     3
1    12    17    27
2    19    28    21
3     7     3    10

In [12]:
#iloc: alisik oldugumuz indeksleme mantigi ile secim yapar

In [13]:
df.iloc[0:3]

   var1  var2  var3
0     5    16     3
1    12    17    27
2    19    28    21

In [14]:
df.iloc[0,0]

5

In [15]:
df.iloc[:3,:2]

   var1  var2
0     5    16
1    12    17
2    19    28

In [16]:
df.loc[0:3,'var3']

0     3
1    27
2    21
3    10
Name: var3, dtype: int64

In [18]:
df.iloc[0:3,'var3']  #ValueError

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [22]:
df.iloc[0:4,2:]

   var3
0     3
1    27
2    21
3    10

In [23]:
df.iloc[0:3]['var3']

0     3
1    27
2    21
Name: var3, dtype: int64