In [3]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({'calisanlar':['ali','veli','ayse','fatma'], 
                    'grup':['muhasebe','muhendislik','muhendislik','ik']})
df1

  calisanlar         grup
0        ali     muhasebe
1       veli  muhendislik
2       ayse  muhendislik
3      fatma           ik

In [6]:
df2 = pd.DataFrame({'calisanlar':['ali','veli','ayse','fatma'], 
                    'ilk_giris':[2010,2009,2014,2019]})
df2

  calisanlar  ilk_giris
0        ali       2010
1       veli       2009
2       ayse       2014
3      fatma       2019

In [7]:
pd.merge(df1,df2)

  calisanlar         grup  ilk_giris
0        ali     muhasebe       2010
1       veli  muhendislik       2009
2       ayse  muhendislik       2014
3      fatma           ik       2019

In [8]:
pd.merge(df1,df2, on = 'calisanlar')

  calisanlar         grup  ilk_giris
0        ali     muhasebe       2010
1       veli  muhendislik       2009
2       ayse  muhendislik       2014
3      fatma           ik       2019

In [9]:
df3 = pd.merge(df1,df2)
df3

  calisanlar         grup  ilk_giris
0        ali     muhasebe       2010
1       veli  muhendislik       2009
2       ayse  muhendislik       2014
3      fatma           ik       2019

In [10]:
df4 = pd.DataFrame({'grup': ['muhasebe','muhendislik','ik'],
                   'mudur': ['caner','mustafa','berkcan']})
df4

          grup    mudur
0     muhasebe    caner
1  muhendislik  mustafa
2           ik  berkcan

In [11]:
pd.merge(df3,df4)

  calisanlar         grup  ilk_giris    mudur
0        ali     muhasebe       2010    caner
1       veli  muhendislik       2009  mustafa
2       ayse  muhendislik       2014  mustafa
3      fatma           ik       2019  berkcan

In [12]:
df5 = pd.DataFrame({'grup': ['muhasebe','muhasebe','muhendislik','muhendislik','ik','ik'],
                   'yetenekler': ['matematik','excel','kodlama','linux','excel','yonetim']})
df5

          grup yetenekler
0     muhasebe  matematik
1     muhasebe      excel
2  muhendislik    kodlama
3  muhendislik      linux
4           ik      excel
5           ik    yonetim

In [13]:
pd.merge(df1,df5)

  calisanlar         grup yetenekler
0        ali     muhasebe  matematik
1        ali     muhasebe      excel
2       veli  muhendislik    kodlama
3       veli  muhendislik      linux
4       ayse  muhendislik    kodlama
5       ayse  muhendislik      linux
6      fatma           ik      excel
7      fatma           ik    yonetim