In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'gruplar': ['A','B','C','A','B','C'],
                  'degisken1': [10,23,33,22,11,99],
                  'degisken2': [100,253,333,262,111,969]})
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [2]:
def filter_func(x):
    return x['degisken1'].std() > 9

In [3]:
df.groupby('gruplar').filter(filter_func)

  gruplar  degisken1  degisken2
2       C         33        333
5       C         99        969