In [1]:
import seaborn as sns
planets = sns.load_dataset('planets')
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [3]:
#Hic eksik deger var mi
df.isnull().values.any()

True

In [4]:
#Hangi degiskende kacar tane var
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [6]:
#df['degisken_ismi'].fillna(0, inplace = True)    Butun eksik degerleri 0 yapar